.navbar {
  height: 80px;
}
.nav_items {
  color: white;
  font-size: 1.5rem;
  font-family: inherit;
  cursor: pointer;
  transition: color 0.5s;
}
.nav_items:active {
  font-size: 1.6rem;
}
.nav_items:hover {
  color: rgb(109, 207, 231);
}
